---
layout: main
---
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--
    <title>{{ site.services-tagline }} - {{ site.services-header }}</title>
    -->
    <link rel="shortcut icon" href="{{ site.services-favicon }}" type="image/x-icon">
    <link rel="stylesheet" href="/assets/css/main.css">
    <script src="https://code.iconify.design/2/2.0.0/iconify.min.js"></script>
    <meta name="description" content="{{ site.services-description }}">
    <meta property="og:title" content="{{ site.services-header }}"/>
    <meta property="og:description" content="{{ site.services-description }}">
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="{{ site.url }}"/>
    <meta property="og:locale" content="{{ site.locale }}"/>
    <meta property="og:image" content="{{ site.services-image.path }}"/>
    <meta property="og:image:type" content="image/{{ site.services-image.type }}"/>
    <meta property="og:image:width" content="{{ site.services-image.width }}">
    <meta property="og:image:height" content="{{ site.services-image.height }}">
    <meta property="og:image:alt" content="{{ site.services-image.alt }}">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@{{ site.social-twitter }}" />
    <meta name="twitter:title" content="{{ site.services-header }}" />
    <meta name="twitter:description" content="{{ site.services-description }}" />
    <meta name="twitter:image" content="{{ site.services-image.path }}" />
</head>

<body>
    <div class="container is-full-screen">
        <header>
            <div class="top is-center is-vertical-align">
                <h3>{{ site.services-header }}</h3>
                <p>{{ site.services-description }}</p>
            </div>
        </header>
        <!-- Sidebar and Theme -->
        {% include head.html %}
        <!-- Link Buttons -->
    </div>
    <main>
        {% for category in site.data.about %}
        <h5 class="project-link">{{ category.category }}</h5>
        <h5 class="project-link">{{ item.title }}</h5>
        <p>{{ item.details }}</p>
    </main>
</body>

</html>